<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <p>
    Become a Full Stack Developer with real work experience. Full stack coding course. Get guaranteed placement as a skilled Full Stack Web Developer in product-based companies. Free trial available. Internship-grade projects. Assured scholarships. Get real work experience. Personal career guidance. Courses: Full Stack Program, Backend Program, Job Guarantee Program.
  </p>
  <p>
    By clicking the 'Schedule a FREE Class' button you agree to Whitehat Jr Terms & Conditions, acknowledge that you have read the Privacy Policy and to receive calls and text from, or on behalf of, Whitehat Jr at the number you provided, including for marketing purposes and by autodialer. Email to opt-out. Your consent is not a condition of any purchase.
  </p>
  <div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>

  </div>
</section>
