<section class="register">

<div class="registercontent">
  <section class="about container">
    <h1 class="text-center mb-5">Companies We Offer</h1>
    <div class="follow text-center">
      <h2 class="text-center mb-5">1. UST Global</h2>
      <h2 class="text-center mb-5">2. TCS</h2>
      <h2 class="text-center mb-5">3. Wipro</h2>
      <h2 class="text-center mb-5">4. Infosys</h2>
      <h2 class="text-center mb-5">5. Cognizant</h2>
      <h2 class="text-center mb-5">6. Google</h2>
      <h2 class="text-center mb-5">7. Adobe</h2>
      <h2 class="text-center mb-5">8. Microsoft</h2>
      <h2 class="text-center mb-5">9. Capgemini</h2>
    </div>
  </section>

</div>
</section>

