h1,#h{text-align: center; }
td,th,tr{padding: 10px;border: 2px solid black;}
.register1 img
{
  width:100%;
  height: 600px;
  object-position: center;
  object-fit: cover;
}
.register1content
{
  position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}
.register1content h1
{
  color: #ffffff;
  font-size: 40px;
}
.register1content table
{
  margin-top: 10px;
}
@media screen and(max-width:600px)
{
  .register1 img
  {
    height:700px;
  }
  .register1content h1
  {
    font-size: 40px;
  }

}

